#norespara
{
    color:red;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    border: white;
    font-size: large;
    width: 50%;
    margin-left: 25%;
}

#noressrch
{
    color:red;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    border: white;
    font-size: large;
    width: 50%;
    margin-left: 25%;
}

#myrestab
{

    
}