.clickable
{
    cursor: pointer;
}

.detscols ul
{   list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 150px;
    justify-content: center;
  }

  #back:focus {
    outline: 0 !important;
}

.req::after
{
  content:"*";color:red;
}
#scol
{color: green;}
#submitbtn{
  background-color:red;
  border: red;
  
  box-shadow: 0 3px 2px -1px #990000;


}
#submitbtn:hover
{
  background-color:rgb(134, 6, 6);
}

#clearbtn{
  margin-left: 3%;
  
  box-shadow: 0 3px 2px -1px #003d99;
  }
  #clearbtn:hover
  {
    background-color:rgb(25, 18, 158);
  }
::ng-deep .mat-form-field-underline {
  display: none;
}

#modclosebtn
{
  background-color:rgb(20, 18, 18);
  border:black;
  color: white;
}

#modsubbtn{

  background-color:red;
  border: red;
}

#modsubbtn:hover
{
  background-color:rgb(134, 6, 6);
}
#makeres{

  background-color:red;
  border: red;
  
  
}


#cancelres
{
  background-color:rgb(38, 0, 255);
  border: red;
}
#cancelres:hover{
  background-color:rgb(25, 18, 158);
}

#noresserch
{
    color:red;
    text-align: center;
    background-color: white;
    border-radius: 9px;
    border: white;
    font-size: large;
    width: 50%;
    margin-left: 25%;
}